openai==0.27.2
einops==0.6.0
gradio==3.18.0
imageio==2.27.0
decord
simplet5
imageio-ffmpeg
Pillow
scipy
numpy
openmim
mmcv
spacy
omegaconf
lvis
boto3
jsonschema
entrypoints
nltk
webdataset
accelerate
bitsandbytes
langchain==0.0.101
timm
transformers
fairscale
pycocoevalcap
torch==1.13.1
torchvision==0.14.1
wget
setuptools
en_core_web_sm-3.0.0.tar.gz
-e detectron2/
